/************************************page layout begin************************************/
@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url("../PlayfairDisplaySC-Bold.ttf"),
  url("../PlayfairDisplaySC-Regular.ttf"),
  url("../PlayfairDisplaySC-Black.ttf");
}
@font-face {
  font-family: 'GildaDisplay';
  src: url("../GildaDisplay-Regular.ttf");
}

body{
  height: 90%;
  margin: 50px;
}

h1{
  font-size:50px;
  font-family: "PlayfairDisplaySC", serif;
}
.logo{
  height: 150px;
  background-color: #fbf7f0;
}

.logoText{
  width: 95%;
  padding-right: 10px;
  padding-left: 30px;
  text-align: center;
}

.logoText{
  float: left;
}

.button{
  font-family: PlayfairDisplaySC, serif;
  background-color: #e8f1f5; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 44%;
  border-radius: 5px;
  transition: .2s;
}

.button:hover, a{
  color: #903749;
  text-decoration: underline;
}
#textIntro{
  font-family: PlayfairDisplaySC, serif;
}

.subTitle{
  font-size: 22px;
  font-family: PlayfairDisplaySC, serif;
  background-color: #d8d3cd;
}

.texts{
  font-family: GildaDisplay, serif;
  margin-bottom: 30px;
}

.ArtLover{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.Restaurants{
  width: 38%;
  height: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.transportation{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
/************************************page layout end************************************/

/**************** Map ****************/
.map_box_container{
  position: relative;
  padding: 70px;
  padding-top: 15px;
  width: 93%;
  height: 900px;
}

.pad2 {
  padding: 20px;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100% !important;
  width: 95% !important;
}

#button-overlay{
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 0; 
  width: 100%;
}
.map-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 13px/20px 'Lato', sans-serif;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
}

.map-overlay fieldset {
  display: block;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
}

.map-overlay .listing {
  overflow: auto;
  max-height: 100%;
}

.map-overlay .listing > * {
  /* display: block;
  padding: 5px 10px;
  margin: 0; */
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.map-overlay .listing a {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  text-decoration: none; */
  color: #505050;
  text-decoration: none;

}
.map-overlay .listing a:last-child {
  border: none;
}
.map-overlay .listing a:hover {
  /*background: #f0f0f0;*/
  color: #101010;
}

.map-overlay .listings .item:last-child { 
  border-bottom: none; 
}

.map-overlay .listings .item .listItemTitle {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.map-overlay .listings .item .title small { font-weight: 400; }
  
.map-overlay .listings .item.active .title,
.map-overlay .listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}


.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#dropdown{
  width: 98%;
  height: 40px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}

.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  left: 0px;
}

.sidebar-content {
  position: absolute;
  width: 95%;
  height: 95%;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: gray;
}

.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle.left {
  right: -1.5em;
}

.sidebar-toggle.right {
  left: -1.5em;
}

.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 300px;
  height: 97%;
}

.left.collapsed {
  transform: translateX(-295px);
}

/**************** Page ****************/

#logo, #header, #footer, #group{
  padding-left: 46px;
  text-align: left;
  width:auto;
  font-weight: normal;
  font-size: 13px;
}

.header{
  border-bottom: 2px #000000;
}

.page{
  max-width: 90%;
  min-width: 90%;
  margin: 15px auto 15px auto;
  padding: 20px;
  background-color: #fbf7f0;
}
.header{
  text-align: center;
}
.text{
  padding: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 95%;
}

h3, p{
  width: 75%;
  text-align: left;
}

.drop>li:hover {
  color: #0d7377;
}

.drop{
  overflow: auto;
  height: 0px;
  background-color: transparent;
}

select{
  padding-left: 10px;
  font-size: 80%;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.09em;
  border: none;
  outline: none;
  width: 95%;
  height: 40px;
  line-height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #d9e4dd;
}

.text_map{
  background-color: #fbf7f0;
  margin-bottom: 50px;
}

.pic{
  width: 75%;
  height: 700px;
}
.lists{
  width: 20%;
  height: 700px;
  margin-left: 0px;
}

.pic, .lists{
  display: inline-block;
  height: 800px;
}

.lists li{
  width: 200px;
  margin-right: 50px;
  font-size: 15px;
  height: 100px;
  border-bottom: #968c83 3px;
}

.listItemTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.listItemBody{
  margin: 0 0;
}

i{
  color: #666666;
  font-size: 12px;
}

.mapItemTitle{
  background: #6b6b6b;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -10px;
}

.maplistItemBody{
  color: #666666;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  font-weight: 400;
  margin-top: -5px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 210px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}



/********Design*********/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(45, 109, 212);
  border-radius: 0;
}

#ck-button {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
}

#ck-button label {
  float:left;
  width:4.0em;
}

#ck-button label span {
  text-align:center;
  padding:3px 0px;
  display:block;
  border-radius:4px;
}

#ck-button label input {
  position:absolute;
  top:-20px;
}

#ck-button input:hover + span {
  background-color:#e0e8ef;
}

#ck-button input:checked + span {
  background-color:#2196F3;
  color:#fff;
}

#ck-button input:checked:hover + span {
  background-color:rgb(45, 109, 212);
  color:#fff;
}