#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}
  
#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 80px;
    left: 20px;
    margin-bottom: 40px;
    width: 160px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#title {
    top: 0;
    left: 20px;
    height: 40px;
    margin-top: 20px;
    width: 300px;
  }

  h2 {
    margin: 10px;
    font-size: 1.2em;
    text-align: left;
  }