body{
    font-size: 80%;
    font-family: Avenir,cursive;
    letter-spacing: 0.15em;
    background-color: #d9e4dd;
}
#logo, #header, #footer, #group{
    padding-left: 46px;
    text-align: left;
    width: 90%;
    font-weight: normal;
    font-size: 13px;
}

.header{
    border-bottom: 2px #000000;
}


.page{
    max-width: 90%;
    min-width: 90%;
    margin: 15px auto 15px auto;
    padding: 20px;
    background-color: #fbf7f0;
}

.header{
    text-align: center;
}

.text{
    padding: 70px;
    width: 95%;
}

h3, p{
    width: 75%;
    text-align: left;
}

.drop>li:hover {
    color: #0d7377;
}
.drop{
    overflow: auto;
    height: 0px;
    background-color: transparent;
}

select{
    padding-left: 10px;
    font-size: 80%;
    font-family: Avenir,cursive;
    letter-spacing: 0.15em;
    border: none;
    outline: none;
    width: 95%;
    height: 40px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #d9e4dd;
}

.text_map{
    background-color: #fbf7f0;
    margin-bottom: 50px;
}
.pic{
    width: 75%;
    height: 700px;
}
.lists{
    width: 20%;
    height: 700px;
    margin-left: 0px;
}

.pic, .lists{
    display: inline-block;
    height: 800px;
}

i{
    font-size: 13px;
}
.lists li{
    width: 200px;
    margin-right: 50px;
    font-size: 15px;
    height: 100px;
    border-bottom: #968c83 3px;
}
.map{
    width: 95%;
    padding-bottom: 50px;
}